.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
  }
  
  .logo {
    max-width: 200px; /* Ajuste o tamanho conforme necessário */
    margin: 0 auto 20px auto; /* Centraliza a logo e adiciona o espaçamento inferior */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .label {
    text-align: left;
    font-size: 14px;
    color: #333;
  }
  
  .inputField {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
  }
  
  .inputField::placeholder {
    color: #aaa;
  }
  
  .button {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .footer {
    font-size: 14px;
    color: #888;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  